.section-amounts {
  border-top: 3px solid $brand-mediumdark-blue;
  background-color: $brand-lighter-blue;
  clear:both;
  @include clearfix();
  padding-bottom: $base-space;
  padding-top: $base-space;
  @include animate();
  h2 {
    padding: 0 15px;
  }
  .small-info {
    font-size: 11px;
    margin:0;
    text-align: center;
  }
  .amount-info-text {
    margin: 0 15px;
    border-top: 1px solid bg-opacity($brand-mediumdark-blue,0.3);
    border-bottom: 1px solid bg-opacity($brand-mediumdark-blue,0.3);
    padding: 10px 0;
    text-align: left;
    color: $brand-mediumdark-blue;
    margin-top:20px;
    margin-bottom:20px;
    visibility: visible;
    opacity: 1;
    @include animate();
  }
  .amount-info-text:empty {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: none;
  }
  .amount-picker {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: $base-space;
    margin-bottom: $base-space;
    li {
      @include make-xs-column(6);
      @include make-sm-column(3);
      @include make-md-column(3);
      .info-text {
        opacity: 0;
        visibility: hidden;
        width:0;
        display: inline;
        position: absolute;
      }
      label {
        padding: 58px 0;
        border-radius: 8px;
        background-color: $white;
        text-align: center;
        @include font-size-head(32px);
        @include animate();
        width: 100%;
        @include animate();
        cursor: pointer;
        position: relative;
        margin-bottom: 25px;
        max-height: 160px;
        @media screen and (max-width: $screen-sm - 1) {
          max-height:142px;
        }
        &:after {
          content: ' ';
          width: 0;
          height:0;
          position: absolute;
          bottom: -20px;
          border-top: 10px solid transparent;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid transparent;
          margin: 0 auto;
          display: block;
          left:0;
          right:0;
          @include animate();
        }
      }
      input[type="number"] {
        background-color: $white;
        color: $brand-dark-grey;
        @include animate();
        &::placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
          @include animate();
        }
      }
      &:hover, &.active {
        // background-color: $brand-lighter-blue;
        label {
          background-color: $brand-ocean-blue;
          color: $white;
        }
        input[type="number"] {
          background-color: $brand-ocean-blue;
          color: $white !important;
          @include animate();
          &::placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
            color: $white !important;
              @include animate();
          }
        }
      }
      &.active {
        label {
          background-color: $brand-mediumdark-blue;
          color: $white;
          cursor: pointer;
          position: relative;
          &:after {
            content: ' ';
            width: 0;
            height:0;
            position: absolute;
            bottom: -20px;
            border-top: 10px solid $brand-mediumdark-blue;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            margin: 0 auto;
            display: block;
            left:0;
            right:0;
          }
        }
        input[type="number"] {
          background-color: $brand-mediumdark-blue;
          color: $white !important;
          &::placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
            color: $white !important;
            @include animate();
          }
        }
      }
      input[type="radio"] {
        display: inline-block;
        width:0;
        height:0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        opacity:0;
      }
      input[type="number"] {
        display: inline-block;
        width: 100px;
        @include font-size-head(32px);
        outline: 0;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-right: -18px;
        @media screen and (max-width: $screen-sm - 1) {
          width: 70px;
        }
      }
    }
  }
}

.section-amounts .amount-picker li:hover input[type="number"]::placeholder{
    color: #fff;
}
.section-amounts .amount-picker li.active input[type="number"]::placeholder{
    color: #fff;
}
