.confirmation-details, .confirmation-thankyou {
  background-color: $brand-lighter-blue;
  padding: 60px 0;
  margin-top: 60px;
  &:after {
    content: ' ';
    clear:both;
    display: block;
    width: 100%;
  }
  h3 {
    color:$text-main-color;
    @include font-size-head(24px);
  }
  dl {
    width: 100%;
    dt, dd {
      width: 60%;
      padding: 6px 0;
      float: left;
      border-bottom: 1px solid #fff;
      font-size: 16px;
    }
    dt {
      width: 40%;
      clear:both;
      color: $text-main-color;
      font-weight: normal;
    }
    dd {
      color: $brand-mediumdark-blue;
      font-weight: normal;
    }
  }
  iframe {
    min-height: 500px;
    height: 500px;
    margin-top: -60px;
    @media screen and (max-width: $screen-md - 1) {
      min-height: 400px;
      height: 400px;
    }
    @media screen and (max-width: $screen-sm - 1) {
      min-height: 300px;
      height: 300px;
    }
    @media screen and (max-width: $screen-xs - 1) {
      min-height: 200px;
      height: 200px;
    }
  }
  .social-icons {
    margin-top: 30px;
    @media screen and (max-width: $screen-sm - 1) {
      margin-top: 0;
    }
  }
  .social-title {
    margin-top: 30px;
    h2 {
      @include font-size-head(36px);
      color: $brand-ocean-blue;
      font-weight: bold;
    }
  }
  .social-media-share {
    list-style: none;
    padding:0;
    float:right;
    padding-top: 30px;
    @media screen and (max-width: $screen-sm - 1) {
      float: left;
    }
    li {
      max-width: 40px;
      float: left;
      padding: 0 5px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.complete-donation {
  margin-top: 30px;
  >div {
    &:after {
      content: ' ';
      clear:both;
      display: block;
    }
  }
}
.direct-debit-info {
  padding: 60px 15px;
}
.confirmation-thankyou {
  margin-top: 120px;
  padding-top: 0;
}
