footer#main-footer {
  background-color: #069FDD;
  padding: $base-space*2 0;
  margin-top: $base-space*3;
  @include clearfix();
  .register-info, .regulator-logo {
    margin-top: $base-space*2;
    p {
      @include font-size(16px);
      font-weight: 300;
      color: $white;
      a {
        color: $white;
      }
    }
  }
  .payment-logos {
    img {
      @media screen and (max-width: $screen-sm - 1) {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .donations-methods {
    @media screen and (max-width: $screen-sm - 1) {
      max-width: 100%;
      height: auto;
    }
  }
  .regulator-logo img {
    float:right;
    @media screen and (max-width: $screen-sm - 1) {
      height: auto;
      max-width: 100%;
      float: left;
    }
  }
}
