.giftaid-section {
  background-color: $brand-lighter-blue;
  padding: 60px 0;
  margin-top: 40px;
  margin-bottom: 60px;
  &:after {
    clear:both;
    display: block;
    content: ' ' ;
  }
  p {
    @include font-size(18px);
    .blue {
      color: $brand-mediumdark-blue;
      font-weight: bold;
    }
  }
  .input-checkbox label {
    background-color: $white;
  }
  &.white-bg {
    background-color: $white;
    padding-bottom:0;
    margin-bottom: 20px;
    .input-checkbox label {
      background-color: $brand-lighter-blue;
      &.checked {
        background-color: $brand-mediumdark-blue;
        color: $white;
      }
    }
  }
}
.giftaid-logo {
  margin-bottom: 30px;
}
.giftaid-info {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  @include animate();
  clear:both;
  font-size: 14px;
  margin-top: 30px;
  p {
    font-size: 14px;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
}
.direct-debit-info-section {
  .input-checkbox label {
    background-color: $white;
  }
}

.input-select {
  position: relative;
  &:before {
    content: ' ';
    width: 0;
    height: 0;
    border-top: 8px solid $brand-ocean-blue;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 35px;
    pointer-events: none;
  }
  select {
      width: 100%;
      min-height: 60px;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 1px solid #069fdd;
      background-color: #fff;
      padding: 5px 15px;
      font-size: 18px;
  }
}
