header {
  @include clearfix();
  padding-top: $base-space;
  .logo-bluecross {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(2);
    img {
      height: auto;
      max-width:100%;
      margin: 0 auto;
      @media screen and (max-width: $screen-md - 1) {
        max-width: 80px;
        margin: 0 auto;
        display: block;
      }
    }
  }
  .header-intro {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(7);
    @media screen and (max-width: $screen-md - 1) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: $screen-sm - 1) {
      text-align: center;
    }
    h1 {
      font-weight: bold;
      color: $brand-ocean-blue;
      @include font-size(30px);
    }
    h2 {
      @include font-size(30px);
    }
    p {
      @include font-size(18px);
      font-weight: 200;
      padding-right: 40px;
      @media screen and (max-width: $screen-sm - 1) {
        padding-right: 0;
      }
    }
  }
  .header-right-bg {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(3);
    float: right;
    @media screen and (max-width: $screen-md - 1) {
      float: right;
    }
    img {
      @media screen and (max-width: $screen-md - 1) {
        max-width: 200px;
        float:right;
      }
      @media screen and (max-width: $screen-sm - 1) {
        max-width: 150px;
        margin: 40px auto;
        display: block;
        float: none;
      }
      transform: rotate(10deg);
    }
  }
}
.section-tabnav {
  @include make-xs-column(12);
  @media screen and (max-width: $screen-sm - 1) {
    padding: 0;
    margin:0;
    .outer-container {
      padding: 0;
    }
  }
}
.tab-navigation {
  list-style: none;
  padding:0;
  margin:0;
  @include clearfix();
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(7);
  @include make-sm-column-offset(0);
  @include make-md-column-offset(2);
  @media screen and (max-width: $screen-sm - 1) {
    padding: 0;
    margin:0;
  }
  li {
    width: 50%;
    float: left;
    @media screen and (max-width: $screen-sm - 1) {
      width: 100%;
    }
    a {
      background-color: $white;
      color: $brand-mediumdark-blue;
      display: block;
      padding: 20px 0;
      text-align: center;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      @include font-size(20px);
      @media screen and (max-width: $screen-lg - 1) {
        @include font-size(16px);
      }
      @media screen and (max-width: $screen-sm - 1) {
        @include font-size(16px);
      }
      text-decoration: none;
      border-top: 2px solid $brand-lighter-blue;
      border-right: 2px solid $brand-lighter-blue;
      border-left: 2px solid $brand-lighter-blue;
      &:hover, &:active, &:focus {
        text-decoration: none;
      }
    }
    &.active {
      a {
        border-top: 2px solid $brand-mediumdark-blue;
        border-right: 2px solid $brand-mediumdark-blue;
        background-color: $brand-mediumdark-blue;
        color: $white;
      }
    }
  }
}
.input-header {
  border-bottom: 2px solid $brand-lighter-blue;
  margin-left: 5px;
  display: inline-block;
  color: $brand-ocean-blue;
}
input.header-amount {
    max-width: 80px !important;
    border: 0;
    clear: Both;
    padding: 4px 10px;
    color: $brand-ocean-blue;
    outline: 0;
    box-shadow: none !important;
    /* display: block; */
    /* box-shadow: 0 0 black; */
}
