.input-bluecross {
  position: relative !important;
  margin-top:15px;
  margin-bottom: 15px;
  @media screen and (max-width: $screen-sm - 1) {
    clear:both;
  }
  label {
    display: block;
    position: absolute;
    top:0;
    z-index: 2;
    padding: 19px 15px 16px;
    font-weight: 300;
    @include font-size(18px);
    color: $brand-dark-grey;
    width:100%;
    opacity: 1;
    @include animate();
  }
  .form-input {
    border: 1px solid $brand-ocean-blue;
    padding: 11px 10px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
    border-radius: 4px;
    color: $brand-mediumdark-blue;
    z-index: 1;
    position: relative;
    @include font-size(18px);
    box-sizing: border-box;
    min-height: 60px;
    @include animate(.1s, 0s);
    &:focus{
      padding: 25px 15px 8px;
      min-height: 45px;
      box-sizing: border-box;
    }
  }
  &.label-inline label {
    display: inline-block;
    position: static;
    top: 0;
    z-index: 2;
    padding: 19px 15px 16px;
    font-weight: 300;
    @include font-size(18px);
    color: #666;
    width: 100%;
    opacity: 1;
    &:hover {
      display: inline-block;
      position: static;
      top: 0;
      z-index: 2;
      padding: 19px 15px 16px;
      font-weight: 300;
      @include font-size(18px);
      color: #666;
      width: 100%;
      opacity: 1;
    }
  }
  &.input-sortcode, &.input-date {
    label {
      float: left;
      position: relative;
      width: 33.33%;
    }
    &.focused {
      label {
        padding: 19px 15px 16px;
        font-weight: 300;
        @include font-size(18px);
        color: #666;
        @media screen and (max-width: $screen-sm - 1) {
          padding: 19px 0 16px;
        }
      }
    }
    input {
      width: 30%;
      float: left;
      margin: 0 1.5%;
      text-align: center;
      &:focus, &.focused {
        padding: 17px 10px 16px !important;
      }
    }
  }
  &.input-date {
    input {
      float:left;
      width: 66%;
      margin:0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    input {
      background-image: url('../img/calendar-icon.png');
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 60px 60px;
      &::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0);
      }
      &::-webkit-calendar-picker-indicator::after {
        content: '';
        display: block;
        background: url('../img/calendar-icon.png') no-repeat;
        background-size: 60px 60px;
        background-image: url('../img/calendar-icon.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 60px 60px;
        background-color: transparent;
        width: 100px;
        height: 100px;
        position: absolute;
        transform: translateX(-2%);
      }
    }
  }
  &.input-date-start {
    label {
      position: static;
      text-align: left;
      @include font-size(18);
      font-weight: normal;
      width: 100% !important;
      float: none;
      padding-left: 0;
    }
    input{
      background-image: url('../img/calendar-icon.png');
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 60px 60px;
      &::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1
      }
      &::-webkit-calendar-picker-indicator::after {
        content: '';
        display: block;
        background: url('../img/calendar-icon.png') no-repeat;
        background-size: 60px 60px;
        width: 100px;
        height: 100px;
        background-color: transparent;
        position: absolute;
        transform: translateX(-2%);
        background-image: url('../img/calendar-icon.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 60px 60px;
      }
    }
  }
  &.input-helper {
    padding-right: 60px;
    position: relative;
    fieldset {
      padding: 0;
    }
    button.help-info {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: $brand-ocean-blue;
      color: $white;
      position: absolute;
      font-weight: bold;
      top:0;right: 0;
      outline: 0;
      cursor: pointer;
      @include font-size(20px);
      padding-top: 7px !important;
      text-align: center;
      border:0;
      @include animate();
      top: 12px;
      right: 15px;
      z-index: 5;
      padding: 8px;
      &:hover, &:active, &:focus {
        background-color: $brand-mediumdark-blue;
      }
    }
    .tooltip-data-show {
      position:absolute;
      min-height: 50px;
      min-width: 100%;
      background-color: $brand-lighter-blue;
      border-radius: 8px;
      visibility: hidden;
      opacity: 0;
      z-index: 7;
      padding: 12px;
      @include font-size(13px);
      top: 100px;
      @include animate();
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
    button.help-info:hover + .tooltip-data-show {
      visibility: visible;
      opacity: 1;
      z-index: 7;
      padding: 12px;
      @include font-size(13px);
      top: 50px;
      margin-top: 20px;
      @media screen and (max-width: $screen-sm - 1) {
        min-width: 90%;
        right: 5%;
      }
    }
  }
  &.added, &.focused {
    label {
      @include font-size(14px);
      padding: 5px 15px 0;
      opacity: 0.8;
    }
    .form-input {
      padding: 25px 15px 8px;
      min-height: 60px;
      box-sizing: border-box;
    }
  }
  &.input-hidden-manual {
    visibility: hidden;
    opacity: 0;
    height:0;
    overflow: hidden;
    margin:0;
    @include animate();
    &.revealed {
      visibility: visible;
      opacity: 1;
      height: 60px;
    }
  }
  &.input-expiry-card {
    label {
      float: left;
      position: relative;
      width: 50%;
      @media screen and (max-width: $screen-sm - 1) {
        width: 100%;
        padding-left: 0;
      }
    }
    fieldset {
      @media screen and (max-width: $screen-sm - 1) {
        width: 100%;
        padding: 0;
        margin-left: -3px;
      }
    }
    &.focused {
      label {
        padding: 19px 15px 16px;
        font-weight: 300;
        @include font-size(18px);
        color: #666;
      }
    }
    input {
      width: 47%;
      float: left;
      margin: 0 1.5%;
      text-align: center;
      &:focus, &.focused {
        padding: 17px 10px 16px !important;
      }
    }
  }
  &.input-checkbox, &.input-radio {
    min-width: 100px;
    display: block;
    float: left;
    height:auto;
    margin-right: 10px;
    @include clearfix();
    @media screen and (max-width: $screen-sm - 1) {
      margin-right: 5px
    }
    label {
      @include font-size(16px);
      border-radius: 4px;
      position: static;
      cursor: pointer;
      background-color: $brand-lighter-blue;
      color: $brand-mediumdark-blue;
      @include animate();
      @media screen and (max-width: $screen-sm - 1) {
        line-height: 22px;
        width: 100%;
        display: block;
      }
      &.checked {
        background-color: $brand-mediumdark-blue;
        color: $white;
      }
    }
    input[type="checkbox"],
    input[type="radio"] {
      display: inline-block;
      float: left;
      width: auto;
      margin-right: 10px;
    }
    label.checked {
      background-image: url('../img/checkbox-tick.png');
      background-repeat: no-repeat;
      background-size: 22px 22px;
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
      background-position: 15px 15px;
    }
    input[type="checkbox"] {
      border: 1px solid #069FDD;
      min-width: 20px;
      min-height: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      margin-top: -1px;
      padding: 0;
      box-shadow: none !important;
      outline:0;
      &:checked {
        border: 1px solid #fff;
        background-color: #fff;
        opacity: 0.3;
        padding: 0;
        box-shadow: none !important;
        outline:0;
      }
    }
  }
  &.input-checkbox {
    clear:none;
    @media screen and (max-width: $screen-sm - 1) {
      max-width: 100%;
      display: block;
      width: 100%;
    }
  }
  &.checkbox-short {
    input {
      margin-bottom: 15px;
    }
  }
}
button.text-link {
  color: $brand-mediumdark-blue;
  background: transparent;
  backgorund-color: transparent;
  border:0;
  outline:0;
  text-decoration: underline;
  font-size: 16px;
  padding: 15px 10px;
  margin-top:18px;
}
button[type="submit"] {
  float:right;
  @media screen and (max-width: $screen-sm - 1) {
    float: left;
    margin-top: 20px;
    float: none;
    display: inline-block;
    clear:both;
  }
}
.section-personal-details {
  h2 {
    margin: 45px 15px 25px;
  }
  h3 {
    padding: 0 15px;
    @include font-size-head(24);
  }
}
.input-validation-error {
  input {
      border: 1px solid #e8485e !important;
      border-right-width: 27px !important;
      outline-bottom: 5px solid #000 !important;
      background-color: rgb(255, 238, 240);
  }
  &:after {
      content: '!';
      color: #fff;
      display:inline-block;
      position: absolute;
      top: 18px;
      right:25px;
      z-index:100;
      font-size: 20px;
  }
}
.col-sm-8.input-checkbox {
  margin-right: 0 !important;
}
.dd-logo-black {
  max-width: 120px;
  height: auto;
  float: right;
  margin-top: 35px;
  @media screen and (max-width: $screen-sm - 1) {
    display: block;
    float: none;
    margin-top: 20px;
  }
}
