.sponsor-gift-email {
  background-color: $brand-lighter-blue;
  margin-top: 40px;
  margin-bottom: 40px;
  @media screen and (max-width: $screen-sm - 1) {
    .outer-container {
      padding: 0;
    }
  }
  &:after {
    clear:both;
    display: block;
    content: ' ';
  }
  > div {

  }
  .email-rendered-display {
    background-color: $brand-ocean-blue;
    padding: 60px;
    @media screen and (max-width: $screen-sm - 1) {
      padding: 40px 25px;
    }
    .email-inner {
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(#000000,0.4);
      overflow:hidden;
      padding: 40px;
      background-color: $white;
      background-image: url('../img/email-header.png'), url('../img/email-footer.png');
      background-repeat: no-repeat, no-repeat;
      background-size: contain, contain;
      background-position: top left, bottom left;
      min-height: 600px;
      color: $brand-ocean-blue;
      position: relative;
      padding-bottom: 120px;
      h4 {
        max-width: 220px;
        text-align: right;
        margin-top: 30px;
        @media screen and (max-width: $screen-sm - 1) {
          padding-left: 25px;
          text-align: right;
          margin-top: -10px;
          max-width: 110px;
        }
      }
    }
  }
  .text-content {
    margin-top: 60px;
    border-top: 1px solid #ededed;
    padding-bottom: 40px;
    div {
      word-break: break-all;
    }
  }
  img.email-pet-image {
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    max-width: 150px;
      width: 100%;
      height: auto;
      position: absolute;
      right: 50px;
      top: 40px;
      @media screen and (max-width: $screen-sm - 1) {
        right: 20px;
        max-width: 80px;
        top:20px;
      }
  }
  .email-message-area {
    padding: 60px;
    @media screen and (max-width: $screen-sm - 1) {
      padding: 40px 25px;
    }
    h3 {
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  textarea {
    font-size: 16px;
    border: none;
    border: 1px solid #ededed;
    border-radius: 8px;
    padding: 20px;
    min-height: 465px;
    max-height: 465px;
    margin-top: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $brand-ocean-blue;
    outline:0;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    max-width: 100%;
    @media screen and (max-width: $screen-sm - 1) {
      min-height: 105px;
      max-height: 105px;
    }
  }
}
.paypal-card-buttons {
  @media screen and (max-width: $screen-sm - 1) {
    text-align: center;
  }
}
button.button-paypal-payment,
button.button-card-payment {
  float: none;
  display: inline-block;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  @media screen and (max-width: $screen-sm - 1) {
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
  img {
    text-align: right;
    float: right;
    margin-left:25px;
    margin-top:-10px;
    position: relative;
    top: 5px;
    @media screen and (max-width: $screen-sm - 1) {
      float: none;
      display: inline-block;
      margin-top: 20px;
      display: none;
    }
  }
  span {
    display: inline-block;
  }
}
button.button-paypal-payment {
  margin-right: 15px;
}
button.button-card-payment {
  margin-left: 15px;
}
.no-paddings {
  padding-left: 0 !important;
  padding-right:0 !important;
}
