$outer-max-width: 1200px;
$inner-max-width: 790px;

// Colours

$brand-dark-grey: #666666;
$brand-lighter-blue: #E1F4FB;
$brand-ocean-blue: #069FDD;
$brand-sky-blue: #33BBEE;
$brand-darkest-blue: #003388;
$brand-mediumdark-blue: #005AAB;
$brand-mediumdark-blue2: #0066BB;

$white: #fff;


$base-space: 30px;

// Fonts

$font-family-main: "VAG Rounded Std" !default;
$text-main-color: $brand-dark-grey;


@mixin clearfix() {
  &:after {
    content: ' ';
    clear:both;
    display: block;
  }
}

@mixin animate($duration:0.3s, $delay: 0) {
	-moz-transition: all $duration ease;
	-webkit-transition: all $duration ease;
	transition: all $duration ease;
	-moz-transition-delay: $delay;
	-webkit-transition-delay: $delay;
	transition-delay: $delay;
}
@mixin background-opacity($color, $opacity: 0.8, $overwrite: false) {
    background-color: $color; /* The Fallback */
    background-color: rgba($color, $opacity);
		@if $overwrite == true {
			background-color: $color !important; /* The Fallback */
	    background-color: rgba($color, $opacity) !important;
		}
}


@function bg-opacity($color, $opacity: 0.8) {
  $color_rgba: rgba($color, $opacity);
  @return $color_rgba;
}
// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  -moz-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  -ms-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  -o-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  filter: unquote($filter-type+unquote('(#{$filter-amount})'));
}


// Responsive fonts mixin

// Responsive fonts mixins
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

$rem_base: strip-unit(16px);
@mixin font-size($pixel_value, $suffix:'') { // pixel_value + optional suffix (for !important support)
  $value: strip-unit($pixel_value);
  // Pixel value is being converted to rem value with fallback support.
  $font-size: $value/$rem_base;
  font-size: #{$value}px unquote($suffix); /* Fallback pixel value */
  font-size: #{$font-size}rem unquote($suffix); /* Pixel value: #{$pixel_value} */
  @media screen and (max-width: $screen-md - 1) {
    font-size: #{$value * 0.875}px unquote($suffix); /* Fallback pixel value */
    font-size: #{$font-size * 0.875}rem unquote($suffix);
  }
  // @media screen and (max-width: $screen-sm-max) {
  //   font-size: #{$value * 0.75}px; /* Fallback pixel value */
  //   font-size: #{$font-size * 0.75}rem;
  // }
}
@mixin font-size-head($pixel_value, $suffix:'') { // pixel_value + optional suffix (for !important support)
  // Pixel value is being converted to rem value with fallback support.
  $value: strip-unit($pixel_value);
  $font-size: $value/$rem_base;
  font-size: #{$value}px unquote($suffix); /* Fallback pixel value */
  font-size: #{$font-size}rem unquote($suffix); /* Pixel value: #{$pixel_value} */
  @media screen and (max-width: $screen-lg + 80) {
    font-size: #{$value * 0.75}px unquote($suffix); /* Fallback pixel value */
    font-size: #{$font-size * 0.75}rem unquote($suffix);
  }
  @media screen and (max-width: $screen-md - 1) {
    font-size: #{$value * 0.6}px unquote($suffix); /* Fallback pixel value */
    font-size: #{$font-size * 0.6}rem unquote($suffix);
  }
  // @media screen and (max-width: $screen-sm-max) {
  //   font-size: #{$value * 0.75}px; /* Fallback pixel value */
  //   font-size: #{$font-size * 0.75}rem;
  // }
}
