@import 'bootstrap/bootstrap';
@import 'partials/fonts';
@import 'partials/icons';
@import 'partials/var_theme';

@import 'partials/header';
@import 'partials/footer';
@import 'partials/amounts';
@import 'partials/help';
@import 'partials/personal-details';
@import 'partials/giftaid';
@import 'partials/confirmation';
@import 'partials/sponsor-gift';

html {
  font-size: 16px;
}
body {
  font-family: $font-family-main;
  color: $text-main-color;
  background-image: url('../img/top-right-bg.jpg');
  background-position: top right;
  background-size: 75vw;
  background-repeat: no-repeat;
  @media screen and (min-width: $screen-lg + 340 ) {
    background-size: 75vw;
  }
  @media screen and (max-width: $screen-lg + 340 ) {
    background-size: 70vw;
  }
  @media screen and (max-width: $screen-lg + 100) {
      background-size: 60vw;
  }
  @media screen and (max-width: $screen-md - 1) {
    background-image: none;
    background-size: 60vw;
  }
}
@media screen and (max-width: 991px) {
  .main-container {
    overflow: hidden;
  }
}
.outer-container {
  max-width: $outer-max-width;
  margin:0 auto;
  @media screen and (max-width: $screen-md - 1) {
    max-width: $inner-max-width;
  }
  @media screen and (max-width: $screen-sm - 1) {
    padding: 0 15px;
  }
}
.inner-container {
  max-width: $inner-max-width;
  margin:0 auto;
  @media screen and (max-width: $screen-sm - 1) {
    padding: 0 15px;
  }
}
.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid bg-opacity($brand-mediumdark-blue,0.2);
  display: block;
  clear: both;
}
.bluecross-button {
  background-color: $brand-ocean-blue;
  color: $white;
  font-family: $font-family-main;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  outline:none;
  padding: 20px 15px 16px;
  @include font-size(18px);
  text-align: center;
  min-width: 250px;
  @include animate();
  &:hover, &:active, &:focus {
    background-color: $brand-sky-blue;
  }
}
.payment-header-title {
  border-bottom: 5px solid $brand-mediumdark-blue;
  h3, h2 {
    padding-left: 15px;
    padding-right: 15px;
    color: $brand-ocean-blue;
    font-weight: bold;
  }
}
.info-box {
  border-radius: 8px;
  background-color: $brand-lighter-blue;
  padding: 15px 15px;
  @include font-size(14px);
  display: block;
  margin: 0 15px;
  @media screen and (max-width: $screen-sm - 1) {
    margin: 30px 15px 15px;
    width: auto;
  }
}
.header-intro {
  .amount {
    display: inline-block;
    border-bottom: 2px solid $brand-lighter-blue;
    color: $brand-ocean-blue;
    margin-right: 20px;
    padding:8px 30px;
  }
}
.payment-details {
  h3 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bold;
  }
}
